main {
   display: flex;
   flex-direction: column;

   .input-label {
      display: flex;
      gap: 1rem;
      margin: 2rem auto 0;
      
      @media (max-width: 920px) {
         flex-direction: column;
         align-items: center;
      }

      input{
         width: 50rem;
         
         height: 2.5rem;
         padding: 0 1rem;

         @media (max-width: 759px) {
            width: 40rem;
         }

         @media (max-width: 597px) {
            width: 30rem;
         }

         @media (max-width: 450px) {
            width: 20rem;
         }
      }

      #component-button {
         background: var(--yellow)
      }
      
   }
}

.loading {
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 2rem 0;
}

.cardsPokemonList {
   margin: 2rem 0;
   display: grid;
   gap: 1rem;
   grid-template-columns: 19rem 19rem 19rem 19rem 19rem;
   grid-template-rows: auto;
   justify-content: center;

   @media (max-width: 1650px) {
      grid-template-columns: 19rem 19rem 19rem 19rem;
   }
   
   @media (max-width: 1310px) {
      grid-template-columns: 19rem 19rem 19rem;
   }

   @media (max-width: 920px) {
      grid-template-columns: 19rem 19rem;
   }

   @media (max-width: 588px) {
      grid-template-columns: 19rem;
   }
}