main {
   display: flex;
   flex-direction: column;

   input {
      width: 50rem;
      margin: 2rem auto 0;
      height: 2.5rem;
      padding: 0 1rem;
   }
}

.cardsPokemonList {
   margin: 2rem 0;
   display: grid;
   gap: 1rem;
   grid-template-columns: 19rem 19rem 19rem 19rem 19rem;
   grid-template-rows: auto;
   justify-content: center;


   @media (max-width: 1650px) {
      grid-template-columns: 19rem 19rem 19rem 19rem;
   }
   
   @media (max-width: 1310px) {
      grid-template-columns: 19rem 19rem 19rem;
   }

   @media (max-width: 920px) {
      grid-template-columns: 19rem 19rem;
   }

   @media (max-width: 588px) {
      grid-template-columns: 19rem;
   }
}