* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

:root {
   --yellow: #ffcb05;
   --blue: #3d7dca;
   --navy-blue: #003a70;

}

html {
   @media (max-width: 1080px) {
      font-size: 93.75%;
   }
  
   @media (max-width: 720px) {
      font-size: 87.5%;
   }
}

body, input, button, textarea {
   font: 400 1rem 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6, strong {
   font-weight: 700;
}


button {
   cursor: pointer;
}