* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

:root {
   --yellow: #ffcb05;
   --blue: #3d7dca;
   --navy-blue: #003a70;

   --grass: rgb(155, 204, 80);
   --lower-grass: #CBFF7D;
   --fire: rgb(253, 125, 36);
   --lower-fire: #FDAA6F;
   --poison: rgb(185, 127, 201);
   --lower-poison: #F0BAFF;
   --water: rgb(69, 146, 196);
   --lower-water: #86B1CE;
   --bug: rgb(114, 159, 63);
   --lower-bug: #B4EB75;
   --ground_y: rgb(247, 222, 63);
   --ground_dy: rgb(171, 152, 66);
   --lower-ground: #c8b971;
   --flying_b: rgb(61, 199, 239);
   --flying_g: rgb(189,185,184);
   --lower-flying: #dedcdb;
   --dragon_b:rgb(83, 164, 207);
   --dragon_r:rgb(241, 110, 87);
   --lower-dragon: #733429;
   --normal: rgb(164, 172, 175);
   --lower-normal: #EDF8FC;
   --electric: rgb(238, 213, 53);
   --lower-electric: #F0E17D;
   --fairy: rgb(253, 185, 233);
   --lower-fairy: #FFD4F2;
   --fighting: rgb(213, 103, 35);
   --lower-fighting: #FF8B42;
   --psychic: rgb(243, 102, 185);
   --lower-psychic: #F4B0D8;
   --rock: rgb(163, 140, 33);
   --lower-rock: #F0D148;
   --ghost: rgb(123, 98, 163);
   --lower-ghost: #C3A8F0;
   --steel: rgb(158, 183, 184);
   --lower-steel: #DBFEFF;
   --ice: rgb(81, 196, 231);
   --lower-ice: #99D9EC;
   --dark: rgb(112, 112, 112);
   --lower-dark: #BDBDBD;

}

html {
   @media (max-width: 1080px) {
      font-size: 93.75%;
   }
  
   @media (max-width: 720px) {
      font-size: 87.5%;
   }
}

body, input, button, textarea {
   font: 400 1rem 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6, strong {
   font-weight: 700;
}


button {
   cursor: pointer;
}