.card {
   color: #000;
   min-width: 15rem;
   min-height: 15rem;
   width: 19rem;
   height: 16.5rem;
   border-radius: 2rem;
   overflow: hidden;
   
   &.grass {
      border: 10px solid var(--grass);
      background: var(--lower-grass);
   }

   &.poison {
      border: 10px solid var(--poison);
      background: var(--lower-poison);
   }
   
   &.fire {
      border: 10px solid var(--fire);
      background: var(--lower-fire);
   }
   
   &.water {
      border: 10px solid var(--water);
      background: var(--lower-water);
   }
   
   &.bug {
      border: 10px solid var(--bug);
      background: var(--lower-bug);
   }
   
   &.ground {
      border-top: 10px solid var(--ground_y);
      border-bottom: 10px solid var(--ground_y);
      border-left: 10px solid var(--ground_dy);
      border-right: 10px solid var(--ground_dy);
      background: var(--lower-ground);
   }

   &.flying {
      border-top: 10px solid var(--flying_b);
      border-bottom: 10px solid black;
      border-left: 10px solid var(--flying_g);
      border-right: 10px solid var(--flying_g);
      background: var(--lower-flying);
   }
   
   &.dragon {
      border-top: 10px solid var(--dragon_b);
      border-bottom: 10px solid var(--dragon_b);
      border-left: 10px solid var(--dragon_r);
      border-right: 10px solid var(--dragon_r);
      background: #F4AEA1;
   }

   &.normal {
      border: 10px solid var(--normal);
      background: var(--lower-normal);
   }

   &.electric {
      border: 10px solid var(--electric);
      background: var(--lower-electric);
   }

   &.fairy {
      border: 10px solid var(--fairy);
      background: var(--lower-fairy);
   }

   &.fighting {
      border: 10px solid var(--fighting);
      background: var(--lower-fighting);
   }

   &.psychic {
      border: 10px solid var(--psychic);
      background: var(--lower-psychic);
   }

   &.rock {
      border: 10px solid var(--rock);
      background: var(--lower-rock);
   }

   &.ghost {
      border: 10px solid  var(--ghost);
      background: var(--lower-ghost);
   }

   &.steel {
      border: 10px solid var(--steel);
      background: var(--lower-steel);
   }

   &.ice {
      border: 10px solid var(--ice);
      background: var(--lower-ice);
   }

   &.dark {
      border: 10px solidvar(--dark);
      background: var(--lower-dark);
   }

   .headerCard {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      padding-top: 0.5rem;
      margin-bottom: 0.5rem;
      background: #FFF;
      color: #000;
      border-top-left-radius: 1.35rem;
      border-top-right-radius: 1.35rem;
      padding: 0 1.5rem;

      img {
         width: 5.5rem;
         height: 6rem;
      }
   
      h1, p {
         text-align: center;
      }
   }
}

.pokemonInfos {
   display: flex;
   flex-direction: column;
   gap: 1rem;
   padding: 0 1.5rem;
   height: 100%;
   background: no-repeat 170% 25%/80% url('../../assets/images/Pokeball.svg');
   
   .pokemonTypes{
      display: flex;
      gap: 0.5rem;

      .title{
         font-weight: 700;
         color: #000;
      }

      p {
         padding: 0 0.5rem;
      }

      .typeTag {
         box-shadow: 2px 2px 2px rgba(0,0,0);
         border-radius: 0.5rem;
      }

      p.grass {
         background: var(--grass);
      }

      p.poison {
         background: var(--poison);
      }
      
      p.fire {
         background: var(--fire);
      }
      
      p.water {
         background: var(--water);
      }
      
      p.bug {
         background: var(--bug);
      }

      p.ground {
         background: linear-gradient(var(--ground_y) 50%, var(--ground_dy)50%);
      }

      p.flying {
         background: linear-gradient(var(--flying_b) 50%, var(--flying_g) 50%)
      }
      
      p.dragon {
         background: linear-gradient(var(--dragon_b) 50%, var(--dragon_r) 50%)
      }

      p.normal {
         background: var(--normal);
      }

      p.electric {
         background: var(--electric);
      }

      p.fairy {
         background: var(--fairy);
      }

      p.fighting {
         background: var(--fighting);
      }

      p.psychic {
         background: var(--psychic);
      }

      p.rock {
         background: var(--rock);
      }

      p.ghost {
         background:  var(--ghost);
      }

      p.steel {
         background: var(--steel);
      }

      p.ice {
         background: var(--ice);
      }

      p.dark {
         background:var(--dark);
      }
   }   
}

.pokemonAbility {
   gap: 0.15em;
   align-self: center;

   .abilityTitle {
      font-weight: 700;
   }
}