.custom-select {
   margin-top: 5rem;
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;

   & select {
      background-color: var(--blue);
      color: white;
      padding: 12px;
      width: 250px;
      border: none;
      font-size: 20px;
      box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
      -webkit-appearance: button;
      appearance: button;
      outline: none;
   }

   select > option {
      height: 100px;
   }

   & select option {
      padding: 30px;
   }
 }

 .loading {
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 2rem 0;
}

.cardsPokemonList {
   margin: 6rem 0;
   display: grid;
   gap: 1rem;
   grid-template-columns: 19rem 19rem 19rem 19rem 19rem;
   grid-template-rows: auto;
   justify-content: center;


   @media (max-width: 1650px) {
      margin: 3rem 0;
      grid-template-columns: 19rem 19rem 19rem 19rem;
   }
   
   @media (max-width: 1310px) {
      margin: 4rem 0;
      grid-template-columns: 19rem 19rem 19rem;
   }

   @media (max-width: 920px) {
      margin: 5rem 0;
      grid-template-columns: 19rem 19rem;
   }

   @media (max-width: 588px) {
      margin: 6rem 0;
      grid-template-columns: 19rem;
   }

   @media (max-width: 404px) {
      margin: 8rem 0;
      grid-template-columns: 19rem;
   }
}